body {
	background: url(../img/004.jpg) no-repeat right top fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.info {
	width: 30%;
	height: 30%;
	min-width: 300px;
	position: absolute;
	visibility: hidden;
	border: 2px dashed white;
	color: #ffffff;
}

.hidden {
	visibility: hidden;
}

.title {
	font-size: 300%;
}

.txctr {
	text-align: center;
}

.hctr2 {
	width: 49%;
	/*border: 2px dashed;*/
	float: left;
}

.hctr {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

a:visited {
	font-style: normal;
	color: #ffffff;
}

a:link {
	font-style: normal;
	color: #ffffff;
}

a:hover {
	font-style: normal;
	color: #ffffff;
}

a:active {
	font-style: normal;
	color: #ffffff;
}

.snow-canvas {
	position: absolute;
	width: 99%;
	height: 99%;
}